<div class="mt-10 sm:mt-0">
  <div class="md:grid md:gap-6">
    <div class="mt-5 md:mt-0 md:col-span-2">
      <%= form_with(model: testimonial) do |form| %>
        <% if testimonial.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>
            <ul>
              <% testimonial.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-2 sm:col-span-2">
                <%= 
                  form.label :reviewer_first_name, 
                  class: "block text-sm font-medium text-gray-700" 
                %>
                <%= 
                  form.text_field :reviewer_first_name, 
                  type: "text", 
                  class: "mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                %>
              </div>
              <div class="col-span-2 sm:col-span-2">
                <%= 
                  form.label :reviewer_last_name, 
                  class: "block text-sm font-medium text-gray-700" 
                %>
                <%=
                  form.text_field :reviewer_last_name, 
                  type: "text", 
                  class: "mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                %>
              </div>
              <div class="col-span-2 sm:col-span-2">
                <%= form.label :review_date, for: "datepicker" %>
                <%= 
                  form.text_field :review_date, 
                  id: "datepicker",
                  placeholder: "DD/MM/YYYY",
                  value: form.object.review_date.strftime("%d/%m/%Y"),
                  class: "mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" 
                %>
              </div>
              <div class="col-span-4 sm:col-span-4">
                <%= 
                  form.label :review, 
                  for: "review", 
                  class: "block text-sm font-medium text-gray-700" 
                %>
                <div class="mt-1">
                  <%= 
                    form.text_area :review, 
                    class: "mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm", 
                    placeholder: "Testimonial narrative here..." 
                  %>
                </div>
              </div>
              <div class="col-span-2 sm:col-span-2">
                <div class="pt-6 flex items-start">
                  <div class="flex items-center h-5">
                    <%= 
                      form.check_box :featured_review, 
                      type: "checkbox", 
                      class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
                    %>
                  </div>
                  <div class="ml-3 text-sm">
                    <%= form.label :featured_review, for: "featured", class: "font-medium text-gray-700" %>
                    <p class="text-gray-500">This will be one of two testimonials to appear on the GTS homepage.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <%= 
              link_to 'Back', 
              testimonials_path, 
              class: "inline-flex justify-center py-2 px-4 border border-indigo shadow-sm text-sm font-medium rounded-md text-white bg-light-gray-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" 
            %>
            <%= 
              form.submit "Save", 
              type: "submit", 
              class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>